@fee-blue: #28abe2;
@fee-black: #231f20;
@fee-red: #eb4032;
@fee-purple: #b342be;
@fee-navy: #214291;
@blue-bg: #105eb2;
@navy-bg: #0640b4;
@white: #ffffff;
@input-bg: #2b80cc;
@text: #646464;
@bottom-margin: 3em;
@subtext: #4c4c4c;
